<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
<connectionStrings>
    <add name="GlobalConnection" connectionString="10W8+gb3CenMck9qWNjh5C4Qq87ALYAaV3MZ+TncEepWfemsEXwUafkz8RIC2mnklOoiSs0PazeVqOIZFc9OYJMPfsQxEOaL9+JyvFR9rpeJyZUPj8jlkDIJ87fe7QDqmjc52FSGnv8mGto93kntuO5cJT4zgMFaAYCCdF+EsMTipCQsWqDvDKKyaa0jyhZo3s+GOo/DUxPJLuekPcBzg4Sdc707M4fcjfb47loJlv7avJudmPZD5HYwlhHCRGpz"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>